body{
    padding-left: 5px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;

}
.card{
    margin: 15px;
    background-color: #b4b4b4;
}
.card-text{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    padding-right: 10px;
    
}
.cimDiv{
    background-color: white;
    text-align: center;
    width: 80%;
    align-self: center;
    border-radius: 15px;
}
.img-background{
    width: 80%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    align-self: center;
    border-radius: 10px;
}
.drinkPNG{
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    object-fit: contain;
}
.adagButton{
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-self: center;
    border-radius: 20px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.serveCount{
    font-size: 20px;
}