main{
    width: 100%;

    padding-left: 20px;
    align-content: space-between;
}
.card{
    margin: 15px;
    background-color: #6C6C6C;
}
.card-text{
    background-color: white;
    border-radius: 10px;
    
}
.cimDiv{
    background-color: white;
    text-align: center;
    width: 80%;
    align-self: center;
    border-radius: 15px;
}
.img-background{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 10px;
    background-color: white;
    align-self: center;
    border-radius: 10px;
}