body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    transition: background-color 0.3s;
    background-color: #E4E4E4;
    color: #3C486B;
    font-family: LilitaOne;
    display: flex;
    flex-direction: column;
    text-align: center;
}

span{
    color: #3C486B;;
}

.navbar{
    transition: background-color 0.3s;
    background-color: #FFFFFF;
    color: #3C486B;
    
}

.tartalom{
    text-align: justify;
}
.elso{
    margin-bottom: 3%;
}
.masodik{
    margin-bottom: 3%;
}

.harmadik{
    margin-bottom: 3%;
}

.elso>p,b{
    width: 55%;
    float: right;
    margin-right: 5%;
}
.masodik>p,b{
    width: 55%;
    float: right;
    margin-right: 5%;
}
.harmadik>p,b{
    margin-top: 0.42%;
    width: 55%;
    float: right;
    margin-right: 5%;
}
img{
    object-fit: contain;
    width: 38%;
    height: auto;
    margin-top: 0%;
    margin-left: 1%;
}
@media screen and (max-width: 1050px) {
    img{
        width: 95%;
    }
    .elso>p,b{
        width: 95%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .masodik>p,b{
        width: 95%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .harmadik>p,b{
        width: 95%;
        padding-left: 5%;
        padding-right: 5%;
    }
  }

  footer {
    text-align: center;
    background-color: #FFFFFF;
    height: 80px;
    padding: 10px;
    width: 100%;
    background-color: #FFFFFF;
}

nav{
    display: flex;
    align-content: space-between;
}

select {
    padding: 10px;
    font-size: 16px;
    color: #3C486B;
    border-radius: 100px;
    padding: 10px 14px;
    background: #FFFFFF
  }

  span{
    color: #3C486B;;
}

.navbar{
    transition: background-color 0.3s;
    background-color: #FFFFFF;
    color: #3C486B;
    
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.image-wrapper {
    margin: 5px;
    flex: 0 0 calc(33.33% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-wrapper img {
    margin: 5px;
    flex: 0 0 calc(33.33% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    background-color: #FFFFFF;
    height: 80px;
    padding: 10px;
    width: 100%;
    background-color: #FFFFFF;
}
nav{
    display: flex;
    align-content: space-between;
}

select {
    padding: 10px;
    font-size: 16px;
    color: #3C486B;
    border-radius: 100px;
    padding: 10px 14px;
    background: #FFFFFF
  }

.dark-mode select{
    background: #2C2C2C;
    color: #AAE729;
}

body.dark-mode {
    background-color: #2C2C2C;
    color: #AAE729;
  }

.navbar.dark-mode{
    background-color: #5B5B5B;
    color: #AAE729;
}

.dark-mode span{
    color: #AAE729;
}

.footer.dark-mode{
    background-color: #5B5B5B;
    color: #AAE729;
}

a:link{
    color: #3C486B;
}

a:visited{
    color: #3C486B;
}

.dark-mode a:link {
    color: #AAE729;
  }

  .dark-mode a:visited {
    color: #AAE729;
  }